*.aux
*.bbl
*.bcf
*.blg
*.crumbs
*.dvi
*.exc
*.fdb_latexmk
*.fls
*.idx
*.ilg
*.ind
*.log
*.out
*.pdf
*.pyg
*.run.xml
*.sty
*.synctex.gz
*.toc
*.zip
.DS_Store
.idea/
_minted-*
build/
node_modules/
package/
target/
