# SPDX-FileCopyrightText: Copyright (c) 2022-2025 Yegor Bugayenko
# SPDX-License-Identifier: MIT
---
# yamllint disable rule:line-length
name: l3build
'on':
  push:
    branches:
      - master
  pull_request:
    branches:
      - master
jobs:
  l3build:
    timeout-minutes: 15
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-24.04, macos-15]
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-python@v6
        with:
          python-version: '3.14'
      - run: |
          sudo apt-get install --yes python3-pygments && sudo pip3 install pygments
        if: matrix.os == 'ubuntu-24.04'
      - run: |
          pip3 install pygments==2.14.0
          pygmentize -V
        if: matrix.os == 'macos-15'
      - run: sudo apt-get install --yes ghostscript
        if: matrix.os == 'ubuntu-24.04'
      - run: brew install ghostscript
        if: matrix.os == 'macos-15'
      - uses: zauguin/install-texlive@v4.0.0
        with:
          package_file: DEPENDS.txt
          texlive_version: 2025
      - run: l3build ctan --show-log-on-error --halt-on-error
      - run: |
          mkdir build/gh-pages
          cp build/distrib/tds/tex/latex/ppt-slides/ppt-slides.sty \
            build/gh-pages
          sed -i "s/0\.0\.0/$(date +%H.%M.%S)/g" build/gh-pages/ppt-slides.sty
          sed -i "s|0000/00/00|$(date +%Y/%m/%d)|g" \
            build/gh-pages/ppt-slides.sty
        if: github.ref == 'refs/heads/master' && matrix.os == 'ubuntu-24.04'
      - uses: JamesIves/github-pages-deploy-action@v4.7.3
        with:
          branch: gh-pages
          folder: build/gh-pages
          clean: true
        if: github.ref == 'refs/heads/master' && matrix.os == 'ubuntu-24.04'
